.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
   
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.example-sidenav-content {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mat-drawer{
  // background-color: #181745;
      opacity: 0.8;
      //  width: 12%;
       background:White;
}

.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item {
    color: black;
}


.mat-toolbar {
    background: #292961;
    color: white;
   
}

#pano{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 2;
  background-color: white;
  opacity: 0.8;
}

#spinner
{
    /* display: none;    */
    /* width: 100px;
    height: 100px; */
    position: fixed;
    top: 50%;
    left: 50%;
    /* background: url(../loading.gif) no-repeat center transparent; */
    text-align: left;
    /* padding:10px; */
    /* margin-left: -50px; */
    /* margin-top: -50px; */
    z-index:3;
    /* background-color:blue; */
    /* overflow: hidden; */
}
#dashboard{
  background-color: #007DC3;
}
