.container{
    display: flex;
    /* gap: 1em; */
    /* margin: 1em; */
    flex-wrap: wrap
}
.container2{
    display: flex;
    /* gap: 1em; */
    /* margin: 1em; */
    
}
.box1{
    flex:3;
    margin: 0.7em;
}
.box2{
    flex:1;
    margin: 0.7em;
}
.box3{
    flex:1;
    margin: 0.7em;
}
.titlestyle{
    font-size: 3vh;
}
.faultImg{
    width: 4em;
    margin-top: .7em;
}
.crackCard{
    background-color: #963596;
}
.blockCard{
    background-color: #00B28F;
}
.treeRootCard{
    background-color: #DF9926
}
.severeCard{
    background-color: #F16C51;
}
.faultCount{
    float: right;
    font-size: 8vh; 
    margin-top: .8em;
    font-family: roboto-light;
    color: #FFFFFF;
}
.faultType{
    float:right; 
    font-size: 2.5vh;
    font-family: MYRIAD PRO - SEMIBOLD;
    color: #FFFFFF;
}