
<!-- <div>
	<mat-form-field>
	<mat-select placeholder="change region">
	  <mat-option *ngFor="let region of regions" [value]="region.value">
		{{region.viewValue}}
	  </mat-option>
	</mat-select>
  </mat-form-field>
</div> -->

<div >
	<button class="previous" mat-raised-button (click) = "data.isAuthenticated()"><mat-icon>arrow_back</mat-icon></button>
	<!-- <a href="#" (click) = "data.isAuthenticated()" class="previous">&laquo; Previous</a> -->
	
</div>

<div fxLayout="column"   fxLayoutWrap fxLayoutGap="1.5%" >
	<div fxLayout="row" fxlayout.md="column" fxLayout.xs="column"  fxLayoutWrap fxLayoutGap="1.5%" >

		<mat-card class="cardstyle">
			<mat-card-header>
				<!-- <div mat-card-avatar class="example-header-image"></div> -->
				<mat-card-title>Input Video</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<video  class="fixedheight" controls autoplay>
					<source [src]="'../../../assets/video/input/'+ region + pipe" type="video/mp4">
				</video>
			</mat-card-content>
		</mat-card>

		<mat-card class="cardstyle">
			<mat-card-header>
				<!-- <div mat-card-avatar class="example-header-image"></div> -->
				<mat-card-title>Output Video</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<video class="fixedheight" controls autoplay>
					<source [src]="'../../../assets/video/output/'+ region + pipe + '_Output'" type="video/mp4">
				</video>
			</mat-card-content>
		</mat-card>

		<mat-card class="cardstyle">
			<mat-card-header>
				<mat-card-title>Fault Location</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<img class="fixedheight imgBorder" [src]="'../../../assets/images/'+ region">
			</mat-card-content>
		</mat-card>
	</div>

	<div fxLayout="row" fxlayout.md="column" fxLayout.xs="column"  fxLayoutWrap fxLayoutGap="1.5%" >
		<mat-card class="cardstyle">
			<mat-card-header>
				<mat-card-title>Fault Description</mat-card-title>
			</mat-card-header>
			<mat-card-content class="fixedheight">
				<div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" >

					<mat-card class="faultstyle mat-elevation-z4" style="background:#fcf9db">
						<mat-card-header style="justify-content: center">
							<mat-card-title class="fontfault">Tree Root Intrusion</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<p>Count:1</p>
						</mat-card-content>
					</mat-card>

					<mat-card class="faultstyle" style="background:#aaadff">
						<mat-card-header style="justify-content: center">
							<mat-card-title>Blockage</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<p>Count:0</p>
						</mat-card-content>
					</mat-card>

					<mat-card class="faultstyle" style="background:#a4f9b1">
						<mat-card-header style="justify-content: center">
							<mat-card-title>Crack Detection</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<p>Count:0</p>
						</mat-card-content>
					</mat-card>
					<mat-card style="text-align:center;" (click) = "openDialog()">View Full Report</mat-card>

				</div>
			</mat-card-content>
		</mat-card>

		<mat-card class="fixedheight cardstyle chartCenter">
			<mat-card-content class="fixedheight" >
				<fusion-charts></fusion-charts>
			</mat-card-content>
		</mat-card>
	</div>
</div>