<mat-card class="regionModify">
	<div class="regioncontainer">
		<div class="select1">
			<mat-form-field>
				<mat-select placeholder="Change Region" [(value)]="regionSelected" class="region-select">
					<mat-option *ngFor="let region of regions" [value]="region.value">
						{{region.viewValue}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field style="margin-left:1em">
				<mat-select placeholder="Change Pipe" [disabled]="regionSelected === ''  ? true:false" [(value)]="pipeSelected" class="pipe-select">
					<mat-option *ngFor="let pipe of pipes" [value]="pipe.value">
						{{pipe.viewValue}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="select3">
			<button mat-raised-button [disabled]="pipeSelected  === ''  ? true:false" class="submitbutton" (click)="onSubmit()">
				Submit
			</button>
		</div>
	</div>
</mat-card>

<mat-card class="regionModify">
	<div class="regioncontainer">
		<div class="select2">
			<mat-card class="cardstyle">
				<mat-card-header>
					<!-- <div mat-card-avatar class="example-header-image"></div> -->
					<mat-card-title>Input Video</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<video class="fixedheight" [src]="'../../../assets/video/input/'+ region + pipe" controls autoplay>
						<!-- <source  type="video/mp4"> -->
					</video>
				</mat-card-content>
			</mat-card>
		</div>

		<div class="select2">
			<mat-card class="cardstyle">
				<mat-card-header>
					<!-- <div mat-card-avatar class="example-header-image"></div> -->
					<mat-card-title>Output Video</mat-card-title>
				</mat-card-header>

				<mat-card-content>
					<video class="fixedheight" [src]="'../../../assets/video/output/'+ region + pipe + '_Output'" controls autoplay>
						<!-- <source  type="video/mp4"> -->
					</video>
				</mat-card-content>
			</mat-card>
		</div>

		<div class="select2">
			<mat-card class="cardstyle">
				<mat-card-header>
					<mat-card-title>Fault Location</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<img class="fixedheight imgBorder" [src]="'../../../assets/images/'+ region">
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</mat-card>

<mat-card>
	<div class="regioncontainer">
		<div class="select2">
			<mat-card class="fullwidth">
				<mat-card-header style="justify-content:center">
					<mat-card-title class="faultdesc">Fault Description: {{" "+pipe}}</mat-card-title>
				</mat-card-header>
				<mat-card-content >
					<!-- <div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%"> -->
						<mat-list class="fullwidth">
							<mat-list-item style="display:flex">
								<span class="fontfault" style="display:flex;flex: 1">Tree Root Intrusion</span>
								<span class="faulltcountstyle"  style="display:flex;flex: 3" >{{count[region+pipe]["treeroot"]}}</span>
								<mat-divider></mat-divider>
							</mat-list-item>
							<mat-list-item>
								<span class="fontfault">Blockage</span>
								<span class="faulltcountstyle">{{count[region+pipe]["blockage"]}}</span>
								<mat-divider></mat-divider>
							</mat-list-item>
							<mat-list-item>
								<span class="fontfault">Cracks</span>
								<span class="faulltcountstyle">{{count[region+pipe]["crack"]}}</span>
								<mat-divider></mat-divider>
							</mat-list-item>
						</mat-list>
						<mat-card class="viewreportstyle" id="viewreport" (click)="openDialog()">View Full Report</mat-card>
					<!-- </div> -->
				</mat-card-content>
			</mat-card>
		</div>
		<div class="chart select4">
			<mat-card class="chartCenter fullwidth">
				<mat-card-content>
					<fusion-charts></fusion-charts>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</mat-card>