<div style="text-align:center;" id="PACPReportHeader">
  <h3 style="float: left;">PACP Report</h3>
  <button style="float: right; background-color: white; " mat-icon-button [mat-dialog-close]=""><i class="material-icons icons" >
    <img class="closeIcon" src="../../../assets/images/close.svg">
  </i></button>
</div>
<table mat-table [dataSource]="datasource" class="mat-elevation-z8" id="PACPReportTable">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="pipelineId">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> PipelineId </th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.pipelineId}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="distance">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> Distance</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.distance}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> Start</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.start}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> End</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.end}} </td>
  </ng-container>

  <ng-container matColumnDef="isContinuous">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> IsContinuous</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.isContinuous}} </td>
  </ng-container>

  <ng-container matColumnDef="defectName">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> DefectName</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.defectName}} </td>
  </ng-container>

  <ng-container matColumnDef="subDefectName">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> SubDefectName</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.subDefectName}} </td>
  </ng-container>

  <ng-container matColumnDef="inspectionRating">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> InspectionRating</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.inspectionRating}} </td>
  </ng-container>

  <ng-container matColumnDef="quickRating">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> QuickRating</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.quickRating}} &nbsp;&nbsp;</td>
  </ng-container>

  <ng-container matColumnDef="pipeRating">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> PipeRating</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.pipeRating}} </td>
  </ng-container>

  <ng-container matColumnDef="severity">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> Severity</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.severity}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="downloadLink">
  
  <a href="#" (click)="downloadReport($event)"><img src = "../../../../assets/images/PDFDownload.JPG" class="downloadimg"></a>
 </div> 
<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->