<div style="text-align:center;" id="PACPReportHeader">
  <h3 style="float: left;">PACP Report</h3>
  <button style="float: right; background-color: white; " mat-icon-button [mat-dialog-close]=""><i class="material-icons icons" >
    <img class="closeIcon" src="../../../assets/images/close.svg">
  </i></button>
</div>
<table mat-table [dataSource]="datasource" class="mat-elevation-z8" id="PACPReportTable">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="distance">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> Distance </th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.distance}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="videoRef">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> VideoRef</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.videoRef}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="descriptor">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> Group/Descriptor</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.descriptor}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="modifier">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> Modifier/Severity</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.modifier}} </td>
  </ng-container>

  <ng-container matColumnDef="continuousDefect">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> ContinuousDefect</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.continuousDefect}} </td>
  </ng-container>

  <ng-container matColumnDef="sML">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> S/M/L</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.sML}} </td>
  </ng-container>

  <ng-container matColumnDef="first">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> 1st value</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.first}} </td>
  </ng-container>

  <ng-container matColumnDef="second">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> 2ndValue</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.second}} </td>
  </ng-container>

  <ng-container matColumnDef="percent">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> Percent</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.percent}} &nbsp;&nbsp;</td>
  </ng-container>

  <ng-container matColumnDef="joint">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> Joint</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.joint}} </td>
  </ng-container>

  <ng-container matColumnDef="at">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> At/From</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.at}} </td>
  </ng-container>
  <ng-container matColumnDef="to">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> To</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.to}} </td>
  </ng-container>
  <ng-container matColumnDef="imageRef">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> Image Ref</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.imageRef}} </td>
  </ng-container>
  <ng-container matColumnDef="Remarks">
    <th mat-header-cell *matHeaderCellDef class="dialogHeader"> Remarks</th>
    <td mat-cell *matCellDef="let element" class="dialogRow"> {{element.Remarks}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="downloadLink">
  
  <a href="#" (click)="downloadReport($event)"><img src = "../../../../assets/images/PDFDownload.JPG" class="downloadimg"></a>
 </div> 
<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->