<mat-card class="row">
  <div class="column1">
    <mat-card class="cardstyle">
      <div class="txtCenter">
        <mat-card-title class="fontsize">Live Camera Feed</mat-card-title>
      </div>
      <img class="imgStyle" src="http://0.0.0.0:5000/live_input_video_feed">
    </mat-card>
  </div>

  <div class="column2">
    <mat-card class="cardstyle">
      <div class="txtCenter">
        <mat-card-title class="fontsize">Processed Camera Feed</mat-card-title>
      </div>
      <img class="imgStyle1" src="http://0.0.0.0:5000/live_output_video_feed">
    </mat-card>
  </div>
</mat-card>

<mat-card class="row cardstyle">
  <div class="column1">
    <mat-card-header class="headerStyle">
        <mat-card-title>Legends for the Detections</mat-card-title>
    </mat-card-header>
    <mat-card-content class="contentMargin">
      <div class="treeSpan"></div>
      <span>Tree Root Intrusions</span>
      <div class="crackSpan"></div>
      <span>Cracks</span>
    </mat-card-content>
  </div>
</mat-card>